
.upvote{
    margin-bottom: 5px;
    border:none;
    background-color: transparent;
    margin: auto;
    font-size: large; 
}
.upvote-transparent{
    color: #bbbbbb
}
.upvote-transparent:hover {
    color: black;
    cursor: pointer;
}

.upvote-black{
    color: black;
    background-color: transparent;
}

.upvote-black:hover {
    cursor: pointer;
}