.solution-btn{
    display:block;
    border:none;
    background-color: transparent;
    margin: auto;
    font-size: xx-large;
}
.solution-btn-icon-green{
    color: green;
}

.solution-btn-icon-transparent{
    color: rgb(182, 204, 182);
}
.solution-btn-icon-transparent:hover {
    color: green;
    cursor: pointer;
  }
