.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    width: 100%;
    background: #dddddd;
}

.title {
    font-size: 32px;
    font-weight: 800;
}
<<<<<<< HEAD

.btn-container {
    display: flex;

    .bluebtn {
        margin: auto auto auto 5px;
    }
}
=======
>>>>>>> main
